<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/extras.css" />
  </head>
  <body>
    <div class="mainContainer">
      <div class="formContainer">
        <form action="/extrasUpload" method="post">
          <div class="filas">
            <label for="dateI">Entrada</label>
            <input type="datetime-local" id="dateI" name="dateI" required />
          </div>

          <div class="filas">
            <label for="dateF">Salida</label>
            <input type="datetime-local" id="dateF" name="dateF" required />
          </div>

          <div class="filas">
            <label for="odt">ODT</label>
            <input type="number" required name="odt" />
          </div>
          <div class="filas">
            <label for="colab">User</label>
            <select name="colab" id="colab" multiple required>
              <% getUsers.forEach(function(user) { %>
              <option value="<%= user.dataValues.id %>">
                <%= user.dataValues.name %>
              </option>
              <% }); %>
            </select>
          </div>
          <div class="filas">
            <button class="rojos"><a href="/home">Volver a inicio</a></button>
            <button type="submit">Subir extras</button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
