<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/home.css" />
  </head>
  <body>
    <div class="main">
      <!-- data container -->
      <div class="dataContainer">
        <h1>TIME MANAGER HYT</h1>
        <div>
          <h3>EXTRAS DE ESTE MES:</h3>
        </div>
        <div>
          <h3>PERMISOS DE ESTE MES:</h3>
        </div>
      </div>
      <!-- buttons container -->
      <div class="buttonsContainer">
        <a href="/createEmployee"> <button>CREAR NUEVO EMPLEADO</button></a>
        <a href="/extras"> <button>SUBIR EXTRAS</button></a>
        <a href="/permisos"> <button>SUBIR PERMISOS</button></a>
        <a href="/showReport"> <button>VER REPORTE</button></a>
        <a href="/logout" id="logout"> <button id="logoutB">LOG OUT</button></a>
      </div>
    </div>
  </body>
</html>
