<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/newEmployee.css" />
  </head>
  <body>
    <div class="mainContainer">
      <h1>Nuevo usuario</h1>
      <div class="formContainer">
        <form action="/createEmployee" method="post">
          <input
            type="text"
            id="newName"
            name="newName"
            required
            placeholder="Nombre completo"
          />
          <input
            type="text"
            id="user"
            name="user"
            required
            placeholder="Usuario"
          />
          <input
            type="password"
            id="password"
            name="password"
            required
            placeholder="Password"
          />
          <div class="buttonsContainer">
            <button type="submit">Create</button>
            <button class="rojos" type="reset">Delete</button>
            <button class="rojos"><a href="/home">Inicio</a></button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
